menu{
  background-color: #293133;
  margin:0;
  padding:0;
  color: #fff;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  height: 60px;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  menu {
      width: 90px;
      left: 0;
      height: 100%;
      flex-direction: column;
  }
}
.panel-button{
  color:#fff;
}
.panel-button.active{
  color: gray;
}
/** menu **/
.icon-menu{
  font-size: 20px;
  margin-bottom: 10px;
}
